@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width:600px) {
    .body {
        perspective: 1000px;
    }

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        overflow: hidden;
        animation: page forwards;
        animation-delay: 3s;
    }

    .preloader_loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: loading 1s ease forwards;
        animation-delay: .5s;
    }

    .preloader_left {
        width: 50%;
        background-color: #fff;
        animation: leftBlock 1s forwards;
        animation-delay: 1.7s;
    }

    .preloader_right {
        width: 50%;
        background-color: #fff;
        animation: rightBlock 1s forwards;
        animation-delay: 1.7s;
    }

    @keyframes loading {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes leftBlock {
        0% {
            transform: translateX(0) scale(1) rotateY(0);
        }

        50% {
            transform: translateX(0) scale(.9) rotateY(10deg);
        }

        100% {
            transform: translateX(-110%) scale(.9) rotate(-10deg);
        }
    }

    @keyframes rightBlock {
        0% {
            transform: translateX(0) scale(1) rotateY(0);
        }

        50% {
            transform: translateX(0) scale(.9) rotateY(-10deg);
        }

        100% {
            transform: translateX(110%) scale(.9) rotate(-10deg);
        }
    }

    @keyframes page {
        0% {
            left: 500px;
            opacity: 1;
        }

        100% {
            left: -100%;
            opacity: 0;
        }
    }

    .contaner {
        width: 100%;
    }

    .contaner_header {
        width: 100%;
        height: 250px;
        background-color: #ede4d9;
        display: flex;


    }

    .contaner_header-logo {
        float: left;

    }

    .contaner_slogan {
        font-family: 'Lobster';
        list-style-type: none;
        font-size: 50px;
        margin: 0 auto;
        transform: rotate(-8deg);
        user-select: none;
    }

    .contaner_slogan_text1 {
        margin-left: -150px;
    }

    .contaner_slogan_text2 {
        margin-left: 150px;
    }

    .main {
        width: 100%;
        padding-top: 25px;
    }

    .video {
        width: 100%;
        height: 600px;
        overflow: hidden;
        /*border: #010;    как сделать рамку внутри?  */ 
    }

    .menu {
        width: 100%;
        background: #ede4d9;
    }

    .main_topmenu {
        text-align: left;
        display: inline;
        padding: 15px 4px 17px 0;
        list-style: none;
    }

    .main_topmenu li {
        font: bold 12px/18px sans-serif;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: 15px 20px;
        background: #ede4d9;
        cursor: pointer;
        transition: all 0.2s;
        box-shadow: 0px 0 2px rgba(0, 0, 0, 1);
    }

    .main_topmenu li:hover {
        background: #555;
        color: #fff;
    }

    .main_menu {
        padding: 0;
        position: absolute;
        top: 48px;
        left: 0;
        width: 200px;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
    }

    .main_menu li {
        background: #555;
        display: block;
        color: #fff;
        box-shadow: 0;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 1);
    }

    .main_menu h3 {
        text-decoration: none;
    }

    .main_menu ul li:hover {
        background: #666;
    }

    .main_topmenu li:hover .main_menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }






    /*Слой невидим*/
    .preloader-overlay {
        display: none;
    }

    /*Слой становится видимым*/
    .preloader-overlay:target {
        display: block;
        background-color: rgba(1, 0, 0, 0.77);
        right: 0;
        left: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 11;
    }

    /*Характеристики самого окна, которое появляется после клика на кнопке*/
    .window {
        width: 50%;
        height: 50%;
        display: none;
        left: 50%;
        z-index: 12;
        margin: 0;
        position: fixed;
        padding: 15px;
        border: 1px solid #383738;
        background: #fefeff;
        border-radius: 15px;
        box-shadow: 0 13px 21px rgba(0, 1, 0, .19), 0 21px 63px rgba(0, 1, 0, .31);
    }

    /*Появление модального окошка с верхнего края экрана*/
    .preloader-overlay:target+.window {
        transform: translate(-50%, 0);
        top: 17%;
        display: block;
    }

    /*Внешний вид кнопки «Закрыть»*/
    .window-close {
        top: -11px;
        right: -11px;
        width: 23px;
        height: 23px;
        position: absolute;
        padding: 0;
        border: 2px solid #ccd;
        border-radius: 15px;
        background-color: rgba(61, 61, 61, 0.81);
        box-shadow: 0 0 12px #010;
        text-align: center;
        font: 18px sans-serif;
    }

    .window-close:before {
        color: rgba(254, 254, 254, 0.89);
        content: "X";
        text-shadow: 0 1px 3px #010;
        font-size: 14px;
    }

    /*Изменение характеристик при наведении на область */
    .window-close:hover {
        background-color: rgba(253, 21, 0, 0.83);
        transform-origin: rotate(180deg);
    }

    .window_map svg {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        fill: #ede4d9;
    }

    .window_map-part:hover {
        transition: opacity .2s;
        opacity: .5;
    }

    .window_map-text {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid;
        text-align: center;
    }

    .window_map-text li {
        display: inline;
    }

    .window_map-text a {
        color: #fff;
        padding: 5px 5px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 100px;
    }


    .window_map-light {
        background-color: rgb(7, 6, 6);
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .footer {
        margin-top: 25px;
        width: 100%;
        height: 100px;
        float: left;
        background-color: #ede4d9;
    }

    .footer img {
        width: 25px;
        height: 25px;
    }

    .copyright {
        float: left;
        margin-top: 50px;
        margin-left: 10%;
    }

    .photomail {
        float: left;
        margin-left: 20%;
        margin-top: 45px;
    }

    .mail {
        float: left;
        margin-top: 50px;
    }



    /*Разделы*/

    .sections {
        margin-top: 50px;
        width: 100%;
    }

    .sections_line {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sections_line img {
        height: 80%;
        width: 60%;
        margin-left: auto;
        margin-top: 25px;
        margin-right: auto;
    }

    .sections_block {
        display: flex;
        flex-direction: column;
    }

    .sections_text {
        text-align: center;
        text-decoration: none;
        color: #010;
        font-size: 20px;
    }

    .window_sections {
        width: 50%;
        display: none;
        left: 50%;
        z-index: 12;
        margin: 0;
        position: fixed;
        padding: 15px;
        border: 1px solid #383738;
        background: #fefeff;
        border-radius: 15px;
        box-shadow: 0 13px 21px rgba(0, 1, 0, .19), 0 21px 63px rgba(0, 1, 0, .31);
    }

    /*Появление модального окошка с верхнего края экрана*/
    .overlay:target+.window_sections {
        transform: translate(-50%, 0);
        top: 10%;
        display: block;
    }

    .window_sections ul {
        float: right;
    }

    .window_sections img {
        float: left;
    }

    .window_sections h3 {
        float: left;
        margin: 25px;
    }

    .window_sections ol {
        float: right;
        margin: 25px;
    }


}








/*@media screen and (max-width:599px) {
}