   
   @media screen and (min-width:600px) {
   /*Характеристики самого окна, которое появляется после клика на кнопке*/
    .window {
        width: 50%;
        display: none;
        left: 50%;
        z-index: 12;
        margin: 0;
        position: fixed;
        padding: 15px;
        border: 1px solid #383738;
        background: #fefeff;
        border-radius: 15px;
        box-shadow: 0 13px 21px rgba(0, 1, 0, .19), 0 21px 63px rgba(0, 1, 0, .31);
    }

    /*Появление модального окошка с верхнего края экрана*/
    .preloader-overlay:target+.window {
        transform: translate(-50%, 0);
        top: 17%;
        display: block;
    }

    /*Внешний вид кнопки «Закрыть»*/
    .window-close {
        top: -11px;
        right: -11px;
        width: 23px;
        height: 23px;
        position: absolute;
        padding: 0;
        border: 2px solid #ccd;
        border-radius: 15px;
        background-color: rgba(61, 61, 61, 0.81);
        box-shadow: 0 0 12px #010;
        text-align: center;
        font: 18px sans-serif;
    }

    .window-close:before {
        color: rgba(254, 254, 254, 0.89);
        content: "X";
        text-shadow: 0 1px 3px #010;
        font-size: 14px;
    }

    /*Изменение характеристик при наведении на область */
    .window-close:hover {
        background-color: rgba(253, 21, 0, 0.83);
        transform-origin: rotate(180deg);
    }

    .window_map svg {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        fill: #ede4d9;
    }

    .window_map-part:hover {
        transition: opacity .2s;
        opacity: .5;
    }

    .window_map-text {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid;
        text-align: center;
    }

    .window_map-text li {
        display: inline;
    }

    .window_map-text a {
        color: #010;
        padding: 5px 5px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 100px;
    }


    .window_map-light {
        background-color: rgb(119, 116, 116);
    }
}